{% set es_config = salt['grains.filter_by']({
    'default': {
        'cluster_name': 'es-cluster',
        'use_memory': 0.5,
        'version': '5.6.3',
        'bootstrap': {
          'memory_lock': 'false'
        },
        'network': {
          'host': '_local_'
        },
        'plugins': [],
        'discovery': {}
    },
},
merge=salt['pillar.get']('elasticsearch:lookup', {}),
default='default')
%}
