{% set es_config = salt['grains.filter_by']({
    'default': {
        'use_memory': 0.5,
        'version': '5.6.3'
    },
},
merge=salt['pillar.get']('elasticsearch:lookup', {}),
default='default')
%}
